# Information Vizualization Assignment 2

## Part 1: Analyzing the data

In [1]:
#imports
import pandas as pd

### Let's first load the csv files into pandas' dataframes in order to inspect them later
##### I use the dropna function to remove some of the NAN values that have been imported by mistake

In [2]:
df_obama_gifts = pd.read_csv("Full_List.csv", encoding = "ISO-8859-1")
df_hillary = pd.read_csv("Hillary_Sample.csv", encoding = "ISO-8859-1", usecols=[x for x in range(0,8)], low_memory=False).dropna()
df_country_information = pd.read_csv("Country Information.csv", encoding = "ISO-8859-1")
df_year_information = pd.read_csv("Year Information.csv", encoding = "ISO-8859-1")

In [3]:
df_hillary.head()

,Date,Year,Country,Donor,Items,Value ($),Continent,Regime
0,5/23/2010,2010.0,China,Mr. Yu Zhengsheng,"Framed watercolor painting, title: ""Celestial ...",350.0,Asia,Authoritarian
1,01/02/2002,2002.0,Israel,His Excellency Benyamin Elon,Ancient Roman glass Judaica salt dish with ste...,195.0,Asia,Flawed Democracy
2,12/08/2006,2006.0,Afghanistan,His Excellency Abdul Rahim Wardak,"75"" x 48"" Afghan rug.",500.0,Asia,Authoritarian
3,01/01/2007,2007.0,Jordan,Their Majesties King Abdullah II ibn Al Hussei...,Set of silver Demitasse cups and wooden bowls.,600.0,Asia,Authoritarian
4,06/06/2007,2007.0,Italy,His Excellency Francesco Rutelli,Free-standing mirrored artwork by M. Pistoletto.,500.0,Europe,Flawed Democracy

### By getting a list with the name of the columns can help us later to structure the database

In [4]:
obama_list = list(df_obama_gifts)
hilary_list = list(df_hillary)
year_list = list(df_year_information)
country_list = list(df_country_information)

In [5]:
print(obama_list)
print(hilary_list)

['Date', 'Year', 'Donor', 'Items', 'Value ($)', 'Country', 'Continent', 'Regime']
['Date', 'Year', 'Country', 'Donor', 'Items', 'Value ($)', 'Continent', 'Regime']

#### We can see that Obama and Hilary lists contain the same columns with only Country being in a different place
##### So let's first fix that: we can just re-arrange the columns based on obamas' column list

In [6]:
df_hillary = df_hillary[obama_list]

In [7]:
#inspect dataframe
df_hillary.head()

,Date,Year,Donor,Items,Value ($),Country,Continent,Regime
0,5/23/2010,2010.0,Mr. Yu Zhengsheng,"Framed watercolor painting, title: ""Celestial ...",350.0,China,Asia,Authoritarian
1,01/02/2002,2002.0,His Excellency Benyamin Elon,Ancient Roman glass Judaica salt dish with ste...,195.0,Israel,Asia,Flawed Democracy
2,12/08/2006,2006.0,His Excellency Abdul Rahim Wardak,"75"" x 48"" Afghan rug.",500.0,Afghanistan,Asia,Authoritarian
3,01/01/2007,2007.0,Their Majesties King Abdullah II ibn Al Hussei...,Set of silver Demitasse cups and wooden bowls.,600.0,Jordan,Asia,Authoritarian
4,06/06/2007,2007.0,His Excellency Francesco Rutelli,Free-standing mirrored artwork by M. Pistoletto.,500.0,Italy,Europe,Flawed Democracy

### We can now start thinking of our database structure:
#### Since Hilary and Obama have the same columns we can just concatenate the two dataframes and add an extra column signifying the President's name

In [8]:
df_obama_gifts['President'] = 'Obama'
df_hillary['President'] = 'Hilary'

In [9]:
print(df_obama_gifts.shape)
print(df_hillary.shape)

(415, 9)
(10, 9)

### Let's concatenate both dataframes in one master dataframe

In [10]:
master_df = pd.concat([df_obama_gifts, df_hillary], ignore_index=True)

In [11]:
master_df.head()

,Date,Year,Donor,Items,Value ($),Country,Continent,Regime,President
0,29/12/2016,2016.0,His Excellency Abdelaziz Bouteflika,Two cases of Algerian wine. Two cases of Alger...,951.0,Algeria,Africa,Authoritarian,Obama
1,27/12/2016,2016.0,His Excellency Shinzo Abe,"Cufflinks, 4 white pearls on polished silver.",2850.0,Japan,Asia,Flawed Democracy,Obama
2,01/12/2016,2016.0,His Majesty Sultan Haji Hassanal Bolkiah Mu'iz...,"Book, title:Sinatra.Glass champagne bucket and...",2734.0,Brunei Darussalam,Asia,Authoritarian,Obama
3,17/11/2016,2016.0,His Excellency Pedro Kuczynski,"Wooden horse with polished metal features, inc...",545.0,Peru,South America,Flawed Democracy,Obama
4,16/11/2016,2016.0,Her Excellency Angela Merkel,Wooden Christmas pyramid comprised of five lev...,455.0,Germany,Europe,Full Democracy,Obama

#### It seems that Year and Value are being parsed as floats: let's solve that

In [12]:
master_df["Year"] = master_df["Year"].astype(int)
master_df["Value ($)"] = master_df["Value ($)"].astype(int)
master_df = master_df.rename(columns={"Value ($)": "Value"})
master_df.head()

,Date,Year,Donor,Items,Value,Country,Continent,Regime,President
0,29/12/2016,2016,His Excellency Abdelaziz Bouteflika,Two cases of Algerian wine. Two cases of Alger...,951,Algeria,Africa,Authoritarian,Obama
1,27/12/2016,2016,His Excellency Shinzo Abe,"Cufflinks, 4 white pearls on polished silver.",2850,Japan,Asia,Flawed Democracy,Obama
2,01/12/2016,2016,His Majesty Sultan Haji Hassanal Bolkiah Mu'iz...,"Book, title:Sinatra.Glass champagne bucket and...",2734,Brunei Darussalam,Asia,Authoritarian,Obama
3,17/11/2016,2016,His Excellency Pedro Kuczynski,"Wooden horse with polished metal features, inc...",545,Peru,South America,Flawed Democracy,Obama
4,16/11/2016,2016,Her Excellency Angela Merkel,Wooden Christmas pyramid comprised of five lev...,455,Germany,Europe,Full Democracy,Obama

## Part 2: Creating Database and tables

### Create database

In [13]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

### Now let's start creating our tables:
### By looking at the data we can assume 4 tables:
### Gifts, Presidents, Years, Countries [can also be devided in Continents (I'll leave it for now)]
### The relationships between the tables can be seen as such:
#### Years --> Gifts (One --> Many)
#### Country --> Gifts (One --> Many)
#### President --> Gifts (One --> Many)

In [14]:
def create_tables():
    c.execute("CREATE TABLE IF NOT EXISTS Countries(country_name TEXT PRIMARY KEY, continent TEXT, regime TEXT)")
    c.execute("CREATE TABLE IF NOT EXISTS Years(year INTEGER PRIMARY KEY)")
    c.execute("CREATE TABLE IF NOT EXISTS Gifts(Date DATE, Year INTEGER, Donor TEXT, Items TEXT, Value INTEGER, Country TEXT, Continent TEXT, Regime TEXT, President TEXT, FOREIGN KEY (Country) REFERENCES Countries(country_name) ON UPDATE CASCADE, FOREIGN KEY (Year) REFERENCES Years(year) ON UPDATE CASCADE, FOREIGN KEY (President) REFERENCES Presidents(president_name) ON UPDATE CASCADE)")
    c.execute("CREATE TABLE IF NOT EXISTS Presidents(president_name TEXT PRIMARY KEY)")

In [15]:
create_tables()

##### Let's insert some data in our database and inspect them

In [16]:
def data_entry():
    c.execute("INSERT INTO Gifts VALUES('29/12/2016',2016,'His Excellency Abdelaziz Bouteflika','Two cases of Algerian wine', 951, 'Algeria', 'Africa', 'Authoritarian', 'Obama')")

    conn.commit()
    c.close()
    conn.close()

In [17]:
data_entry()

In [18]:
# fetch all of the rows from the query
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()
c.execute('SELECT * FROM Gifts')
data = c.fetchall()

# print the rows
for row in data :
    print(row)

#close connection
c.close()
conn.close()

('29/12/2016', 2016, 'His Excellency Abdelaziz Bouteflika', 'Two cases of Algerian wine', 951, 'Algeria', 'Africa', 'Authoritarian', 'Obama')

### We can now put the values from the dataframe into the database tables

In [19]:
#read unique values for year, country, president
year_values = master_df.Year.unique()
country_values = master_df.groupby(['Country', 'Continent', 'Regime']).size().reset_index()
president_values = master_df.President.unique()

In [20]:
#Push into database
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

for item in year_values:
    c.execute('INSERT INTO Years VALUES (? )', (int(item),))
    conn.commit()
    
for president in president_values:
    c.execute('INSERT INTO Presidents VALUES (? )', (str(president),))
    conn.commit()

c.close()
conn.close()

#### Alternatively you can use the dataframe.to_sql function to push the whole dataframe into a db table

In [21]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

country_values[["Country", "Continent", "Regime"]].to_sql("Countries", conn, if_exists="replace", index=False)
master_df.to_sql("Gifts", conn, if_exists="append", index=False)
    
c.close()
conn.close()

#### Let's run a simple query to see if everything works

In [22]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()
query = pd.read_sql_query("SELECT * FROM Gifts WHERE Regime = 'Authoritarian' and President = 'Hilary';", conn)

print(query)
    
c.close()
conn.close()

         Date  Year                                              Donor  \
0   5/23/2010  2010                                  Mr. Yu Zhengsheng
1  12/08/2006  2006                  His Excellency Abdul Rahim Wardak
2  01/01/2007  2007  Their Majesties King Abdullah II ibn Al Hussei...
3  01/10/2007  2007        His Majesty King Abdullah II ibn Al Hussein
4  01/10/2012  2012                               Daw Aung San Suu Kyi
5  01/04/2013  2013  His Majesty King Abdullah II ibn Al Hussein an...
6  01/10/2013  2013                        His Excellency Hamid Karzai

                                               Items  Value      Country  \
0  Framed watercolor painting, title: "Celestial ...    350        China
1                             75" x 48" Afghan rug.     500  Afghanistan
2    Set of silver Demitasse cups and wooden bowls.     600       Jordan
3  Leather box with leather and glass flower vase...    200       Jordan
4  Black two-strand cushion pearl necklace with g...    970      Myanmar
5             Two-toned avalon blue Hermès blanket.    1300       Jordan
6                       76" x 62" handwoven carpet.     660  Afghanistan

  Continent         Regime President
0      Asia  Authoritarian    Hilary
1      Asia  Authoritarian    Hilary
2      Asia  Authoritarian    Hilary
3      Asia  Authoritarian    Hilary
4      Asia  Authoritarian    Hilary
5      Asia  Authoritarian    Hilary
6      Asia  Authoritarian    Hilary

## Part 3: Manipulating data
### Coming soon..